


h1{
    padding-bottom: 20px;
}

.container1 nav a {
    margin: 0 20px;
    border: 1px solid lightgray;
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    background:#616A6B  ;
}


.container1{
    background-color:#99A3A4;
    padding: 3%;
    margin: -10px;
}

.container2{
  padding: 20px;
}


* {
    box-sizing: border-box;
    display: flexbox;
}
  .column {
    float: left;
    width: 25%;
    padding: 20px;
  }
  
  /* Clearfix (clear floats) */
  .row:after {
    content: "";
    display: table;
  }

  .column1 {
    float: left;
    width: 25%;
    padding: 20px;
  }
  
  /* Clearfix (clear floats) */
  .row1:after {
    content: "";
    display: table;
  }